<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>absorbEffect(1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,66}</string>
                <key>spriteSourceSize</key>
                <string>{71,66}</string>
                <key>textureRect</key>
                <string>{{0,0},{71,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>absorbEffect(2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,66}</string>
                <key>spriteSourceSize</key>
                <string>{71,66}</string>
                <key>textureRect</key>
                <string>{{71,0},{71,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>absorbEffect(3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,66}</string>
                <key>spriteSourceSize</key>
                <string>{71,66}</string>
                <key>textureRect</key>
                <string>{{142,0},{71,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>absorbEffect(4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,66}</string>
                <key>spriteSourceSize</key>
                <string>{71,66}</string>
                <key>textureRect</key>
                <string>{{213,0},{71,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>absorbEffect(5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,66}</string>
                <key>spriteSourceSize</key>
                <string>{71,66}</string>
                <key>textureRect</key>
                <string>{{284,0},{71,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>absorbEffect.png</string>
            <key>size</key>
            <string>{355,66}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:161874ca143a6409e45aaac2968b0df7:33c565352378174985c0f55f61ef6d9f:4ae10bd80bca44176c6708fccc1d3d18$</string>
            <key>textureFileName</key>
            <string>absorbEffect.png</string>
        </dict>
    </dict>
</plist>
