<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>smogEffect(1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,27}</string>
                <key>spriteSourceSize</key>
                <string>{43,27}</string>
                <key>textureRect</key>
                <string>{{0,0},{43,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smogEffect(2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,27}</string>
                <key>spriteSourceSize</key>
                <string>{43,27}</string>
                <key>textureRect</key>
                <string>{{43,0},{43,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smogEffect(3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,27}</string>
                <key>spriteSourceSize</key>
                <string>{43,27}</string>
                <key>textureRect</key>
                <string>{{86,0},{43,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smogEffect(4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,27}</string>
                <key>spriteSourceSize</key>
                <string>{43,27}</string>
                <key>textureRect</key>
                <string>{{129,0},{43,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smogEffect(5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,27}</string>
                <key>spriteSourceSize</key>
                <string>{43,27}</string>
                <key>textureRect</key>
                <string>{{172,0},{43,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>smogEffect.png</string>
            <key>size</key>
            <string>{215,27}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:104a49e9de5ff3b3137a46ba7221149f:65a2da32a6ce95de43345b2369c1b171:b67a738320974fbfc910765da86314ca$</string>
            <key>textureFileName</key>
            <string>smogEffect.png</string>
        </dict>
    </dict>
</plist>
