<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Swallower_01 拷贝 10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,18}</string>
                <key>spriteSourceSize</key>
                <string>{22,18}</string>
                <key>textureRect</key>
                <string>{{0,150},{22,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Swallower_01 拷贝 2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Swallower_01 拷贝 3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,18}</string>
                <key>spriteSourceSize</key>
                <string>{20,18}</string>
                <key>textureRect</key>
                <string>{{0,20},{20,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Swallower_01 拷贝 4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,18}</string>
                <key>spriteSourceSize</key>
                <string>{22,18}</string>
                <key>textureRect</key>
                <string>{{0,38},{22,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Swallower_01 拷贝 5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,18}</string>
                <key>spriteSourceSize</key>
                <string>{22,18}</string>
                <key>textureRect</key>
                <string>{{0,56},{22,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Swallower_01 拷贝 6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{0,74},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Swallower_01 拷贝 7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{0,94},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Swallower_01 拷贝 8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,18}</string>
                <key>spriteSourceSize</key>
                <string>{21,18}</string>
                <key>textureRect</key>
                <string>{{0,114},{21,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Swallower_01 拷贝 9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,18}</string>
                <key>spriteSourceSize</key>
                <string>{20,18}</string>
                <key>textureRect</key>
                <string>{{0,132},{20,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Swallower_01 拷贝.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,19}</string>
                <key>spriteSourceSize</key>
                <string>{20,19}</string>
                <key>textureRect</key>
                <string>{{0,168},{20,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Swallower_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,18}</string>
                <key>spriteSourceSize</key>
                <string>{20,18}</string>
                <key>textureRect</key>
                <string>{{0,187},{20,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Swallower.png</string>
            <key>size</key>
            <string>{22,205}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab16cfdaf51f3e4233096d06eaefc1f5:4206899d83b7275709f1c8f5b592dfbf:75603fe25d07f0bd9fa95506900c418d$</string>
            <key>textureFileName</key>
            <string>Swallower.png</string>
        </dict>
    </dict>
</plist>
