<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tailEffect(1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,22}</string>
                <key>spriteSourceSize</key>
                <string>{52,22}</string>
                <key>textureRect</key>
                <string>{{0,0},{52,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tailEffect(2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,22}</string>
                <key>spriteSourceSize</key>
                <string>{52,22}</string>
                <key>textureRect</key>
                <string>{{52,0},{52,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tailEffect(3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,22}</string>
                <key>spriteSourceSize</key>
                <string>{52,22}</string>
                <key>textureRect</key>
                <string>{{104,0},{52,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tailEffect(4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,22}</string>
                <key>spriteSourceSize</key>
                <string>{52,22}</string>
                <key>textureRect</key>
                <string>{{156,0},{52,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tailEffect(5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,22}</string>
                <key>spriteSourceSize</key>
                <string>{52,22}</string>
                <key>textureRect</key>
                <string>{{208,0},{52,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tailEffect(6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,22}</string>
                <key>spriteSourceSize</key>
                <string>{52,22}</string>
                <key>textureRect</key>
                <string>{{260,0},{52,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tailEffect(7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,22}</string>
                <key>spriteSourceSize</key>
                <string>{52,22}</string>
                <key>textureRect</key>
                <string>{{312,0},{52,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tailEffect.png</string>
            <key>size</key>
            <string>{364,22}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:198485979bf0a25317df281cc6643aab:3772bfb5dd58a90a8456aa8fad070984:e06802a3ee29a97b7d0107fa9787a506$</string>
            <key>textureFileName</key>
            <string>tailEffect.png</string>
        </dict>
    </dict>
</plist>
